<div class="sixteen wide column" id="sixteenWideColumn"></div>
<div class="two column row" id="twoColumnRow">
  <div class="two wide column" id="twoWideColumn">
    <%= render "devise/shared/leftNav" %>
  </div>
  <div class="fourteen wide column" id="fourteenWideColumn">
    <div id="bodyR">

        <%= link_to @forum.name, forum_show_path(@forum), :class => 'PgBoardName' %> <br /> <br />
          <%= link_to "Start Topic", topic_new_path(:forum=>@forum.id), :class => "pagingLink" %>
          <%= will_paginate @topics %>

      <table class="ui celled striped table">
        <thead>
          <tr><th id="thead">
            Topic
          </th>

          <th id="thead">
            Started By
          </th>

          <th id="thead">
            Replies
          </th>

          <th id="thead">
            Last Post
          </th>
        </tr>
      </thead>

        <tbody>
          <% @topics.each do |topic| %>
          <tr>

            <td class="topic" id="tdata">
              <% if topic.stickied %>
                <%= image_tag "sticky.gif", :id => "sticky" %>
              <% end %>
              <%= link_to topic.subject, topic_show_path(topic), :class => 'pagingLink' %>

              <% if current_user.moderator %>
                <div class="modLinks">
                  <%= form_tag(controller: "topics", action: "sticky", method: "post") do %>
                    <%= hidden_field(:topic, :id, :value => topic.id) %>
                    <%= submit_tag("Sticky") %>
                  <% end %>
                  <%= form_tag(controller: "topics", action: "anchor", method: "post") do %>
                    <%= hidden_field(:topic, :id, :value => topic.id) %>
                    <%= submit_tag("Anchor") %>
                  <% end %>
                </div>
              <% end %>

            </td>

            <td id="tdata" class="startedBy">
              <%= topic.user.user_name %>
            </td>

            <td id="tdata" class="replies" >
              <%= topic.posts.count - 1 %>
            </td>

            <td id="tdata" class="lastPost">
              <%= link_to Topic.semanticize_lpca(topic), topic_show_path(topic, :page => Post.find_page(topic.posts.last), anchor: "post-#{topic.posts.last.id}"), :class => "findPage" %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
