<div class="two column row">
  <div class="two wide column">
    <%= render "devise/shared/leftNav" %>
  </div>
  <div class="fourteen wide column">
    <div id="bodyR">
      <div class="PgBoardName">
        <%= @forum.name %>
      </div>
      <div class="Paging1">
        <%= link_to "Start Topic", topic_new_path(:forum=>@forum.id), :class => "pagingLink" %>
      </div>
      <table class="ui celled striped table">
        <thead>
          <tr><th id="thead">
            Topic
          </th>
          <th id="thead">
            Started By
          </th>
          <th id="thead">
            Replies
          </th>
          <th id="thead">
            Last Post
          </th>
        </tr></thead><tbody>
          <% @topics.each do |topic| %>
          <tr>
            <td id="tdata">
              <%= link_to topic.subject, topic_show_path(topic), :class => 'pagingLink' %>
            </td>
            <td id="tdata">
              <%= topic.user.user_name %>
            </td>
            <td id="tdata">
              <%= topic.posts.count - 1 %>
            </td>
            <td id="tdata">
              <%= topic.posts.last.user.user_name %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
