<div class="sixteen wide column" id="sixteenWideColumn"></div>
<div class="two column row" id="twoColumnRow">
  <div class="two wide column" id="twoWideColumn">
    <%= render "devise/shared/leftNav" %>
  </div>
  <div class="fourteen wide column" id="fourteenWideColumn">
    <div id="bodyR">
      <div class="PgBoardName">
        Posts By <%= @user.user_name %>
      </div>

      <table class="ui celled striped table">
        <thead>
          <tr>
            <th id="thead">
              Forum
            </th>
            <th id="theadSearch">
              Message
            </th>
          </tr>
        </thead>

        <tbody>
          <% @posts.each do |post| %>

            <tr>
              <td id="tdataLeft">
                <%= image_tag "SR_Icon1.jpg" %> <%= link_to post.get_forum_name, forum_show_path(post.topic.forum), class: "searchLink" %>
              </td>

              <td id="tdataRight">
                <div class="searchMessage">
                  <%= link_to "re: #{post.topic.subject}", topic_show_path(post.topic), id: "tdataRightLink" %> - <%= post.user.user_name %> on <%= post.created_at %>
                </div>

                <div class="ui divider"></div>
                <div class="">

                </div>
                <div class="postMessage">
                  <%= post.message %>
                </div>
              </td>
            </tr>

          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
