<%= form_for @topic do |topic_form| %>

  <%= topic_form.hidden_field :forum_id, :value => @forum.id %>

  <%= topic_form.label :subject %><br />
  <%= topic_form.text_field :subject %><br />

  <%= topic_form.fields_for :posts_attributes do |posts_attributes| %>
    <span id="labelMessage"> Message </span> <br />
    <%= posts_attributes.text_area :message %>

  <% end %>

  <br /><%= topic_form.submit %>
<% end %>
