<div class="two column row">
  <div class="two wide column">
    <%= render "devise/shared/leftNav" %>
  </div>
  <div class="fourteen wide column">
    <div id="bodyR">
      <% if user_signed_in? %>
        User is Signed in
        <%= form_for @topic do |f| %>

          <%= f.label :subject %>:
          <%= f.text_field :subject %><br />

          <%= f.submit %>
        <% end %>
      <% else %>
        <div id="topicError">You must be logged on in order to post on this board.</div>
        <div id="topicLogin">Click <%= link_to 'here', new_user_session_path, :class => 'topicLogin' %> to log in.</div>
      <% end %>

    </div>
  </div>
</div>
