<div class="two column row">
  <div class="two wide column">
    <%= render "devise/shared/leftNav" %>
  </div>
  <div class="fourteen wide column">
    <div id="bodyR">
      <table class="ui celled striped table">
        <thead>
          <tr>
            <th id="thead">
              Posted By
            </th>
            <th id="thead">
              Message
            </th>
          </tr>
        </thead>
        <tbody>
          <% @posts.each do |post| %>
            <tr>
              <td id="tDataUser">
                <span class="postUserName"> <%= post.user.user_name %> </span> <br />
                <div class="userInfo">
                  Member since  <%= User.format_date(post.user.created_at) %><br />
                  <%= post.user.posts.count %> posts
                </div>

              </td>
              <td id="tDataMessage">
                <span id="subject"> <%= post.topic.subject %> </span> <span id="date"> (Posted on <%= post.created_at %>) </span>
                <div class="ui divider"></div>
                  <%= post.message %>
                <div class="ui divider"></div>
                  <% if user_signed_in? %>
                    <% if current_user.id == post.user_id %>
                      <% if Topic.op?(@topic, post) %>
                        <%= link_to "Edit", topic_path(post.topic.id), :class => 'custButton' %>
                      <% else %>
                        "Post edit"
                      <% end %>
                    <% end %>
                    <%= link_to "Reply", posts_new_path(:topic_id=>params[:id], :reply_id=>post.id), :class => 'custButton' %>
                    request admin
                  <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
