<!-- Home PageHome PageHome PageHome PageHome PageHome PageHome PageHome PageHome PageHome PageHome PageHome PageHome PageHome PageHome PageHome PageHome PageHome PageHome -->
<div class="two column row">

  <div class="four wide column" id="ContentL">
    <%= render "devise/shared/forums" %>
  </div>






  <div class="eight wide column" id="ContentRHome">


    <div class="ui grid">



      <div class="sixteen wide column" id="Latest_SEC_News">



        <h2 class="Art_SEC"> Latest SEC News </h2>



        <% if admin_signed_in? %>



          <%= link_to "New Art", new_art_path, class: "custButton", id: "newArtButton" %>


        <% end %>


      </div>






      <% @arts.each do |art| %>




          <div class="two column row" id="Art_Home_Row">




            <div class="eight wide column" id="Picture_Column_Home">






                <%= image_tag art.image.url, id: "Home_Art_Image" %>









            </div>




            <div class="eight wide column" id="Home_Art_Info_Column">





              <p>


                <%= link_to art.title, art_path(art), class: "Art_Title_Home" %>


              </p>








              <p class="Art_Text_Home">

                <%= art.text %>


              </p>





                <% if current_admin %>

                  <%= link_to "delete", art_path(art), method: :delete, class: "custButton" %>

                <% end %>


            </div>






          </div>






      <% end %>









    </div>



  </div>





</div>
