<%= form_for @art do |art_form| %>
  <% if @art.errors.any? %>
    <ul class="panel-body">
      <% @art.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>

  <%= art_form.label :title %>
  <%= art_form.text_field :title %> <br />

  <%= art_form.label :text %>
  <%= art_form.text_area :text %> <br />

  <%= art_form.label :image %>
  <%= art_form.file_field(:image)  %> <br />

  <%= art_form.submit %>
<% end %>
