<div class="two column row">



  <div class="four wide column" id="ContentL">
    <%= render "devise/shared/forums" %>
  </div>






  <div class="eleven wide column" id="ContentR">




    <div class="ui grid">




      <div class="sixteen wide column">




        <span class="Art_Title"> <%= @art.title %> </span>




      </div>







      <div class="sixteen wide column" id="postedByArtColumn">



        <div class="postedByArt">




          <span> by <%= @art.admin.email %> </span>



          <%= @art.created_at %>





        </div>




        <hr>





      </div>





      <div class="sixteen wide column" id="Art_Display">







          <span> <%= @art.comments.length - 1 %> </span>







        <div class="ui image">





          <%= image_tag "" %>




        </div>





      </div>





      <div class="sixteen wide column">




        <div class="artStory">




          <%= @art.story %>



        </div>




        <hr>



      </div>






      <div class="sixteen wide column" id="artComments">



        <h3> Comments (<%= @art.comments.length - 1 %>) - <span> Add Comments </span> </h3>




        <div class="ui grid">




          <% @art.comments.each do |comment| %>






            <% if comment.persisted? %>








              <div class="three column row">


                <div class="three wide column">


                  <%= image_tag "UserAva1.gif" %>


                </div>




                <div class="ten wide column">


                  <%= comment.text %>






                  <% if admin_signed_in? %>


                    <%= link_to "delete", comment_path(comment), method: :delete %>



                  <% end %>



                </div>






              </div>







            <% end %>







          <% end %>







        </div>









      </div>






      <div class="sixteen wide column" id="addComment">



        <% if user_signed_in? %>




        <h3>Add a Comment</h3>



        <%= render "/comments/form" %>






        <% end %>




      </div>







    </div>




  </div>





<div>
