<div class="sixteen wide column" id="sixteenWideColumn"></div>
<div class="two column row" id="twoColumnRow">
  <div class="two wide column" id="twoWideColumn">
    <%= render "devise/shared/leftNav" %>
  </div>
  <div class="fourteen wide column" id="fourteenWideColumn">
    <div id="bodyR">
      <%= render "/posts/bbcode" %>
      
      <%= form_for @post do |form_for| %>

        <span id="labelMessage"> <%= form_for.label :message %> </span> <br />
        <%= form_for.text_area :message %> <br />

        <div class="submit">
          <%= form_for.submit %>
        </div>
      <% end %>
    </div>

  </div>

</div>
