<div class="sixteen wide column" id="sixteenWideColumn"></div>
<div class="two column row" id="twoColumnRow">
  <div class="two wide column" id="twoWideColumn">
    <%= render "devise/shared/leftNav" %>
  </div>
  <div class="fourteen wide column" id="fourteenWideColumn">
    <div id="bodyR">
      <%= render "/posts/bbcode" %>

      <%= form_for @post do |f| %>
        <%= hidden_field(:reply_post, :id) %>
        <span id="labelMessage"> <%= f.label :message %> </span> <br />
        <%= f.text_area :message %><br />

        <div class="submit">
          <%= f.submit %>
        </div>
      <% end %> <br /> <br />

      <div class="reply">
        You are replying to the following post:
      </div>
      <table class="ui celled striped table">
        <thead>
          <tr>
            <th id="thead">
              Posted By
            </th>
            <th id="thead">
              Message
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <div id="tData" class="replyUser">
                <%= @reply_post.user.user_name %>
              </div>
            </td>
            <td>
              <span id="subject"> <%= @reply_post.topic.subject %> </span>
              <div class="ui divider"></div>
              <div class="pText">

                  <%== Post.print_sanitize_msg(@reply_post).bbcode_to_html %>

              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
