<div class="sixteen wide column">
  <div class="">
    <h2>Users (<%= @users.length %>) </h2>
    <table class="ui inverted black table">
      <thead>
        <tr>
          <th>user_name</th>
          <th>email</th>
          <th>topics</th>
          <th>posts</th>
          <th>current ip</th>
          <th>last ip</th>
          <th>sign in count</th>
          <th>moderator</th>
          <th>banned</th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
        <tr>
          <td> <%= user.user_name %> </td>
          <td> <%= user.email %> </td>
          <td> <%= user.topics.count %> </td>
          <td> <%= user.posts.count %> </td>
          <td> <%= user.current_sign_in_ip %> </td>
          <td> <%= user.last_sign_in_ip %> </td>
          <td> <%= user.sign_in_count %> </td>
          <td>
            <%= form_tag(controller: "panel", action: "mod", method: "post") do %>
            <div class="ui mini labeled input">
              <%= hidden_field(:user, :id, :value => user.id) %>

              <% if user.moderator == true %>
                <div class="ui blue label">
              <% else %>
                <div class="ui red label">
              <% end %>
                  <%= user.moderator %>
                </div>

                <%= submit_tag("Toggle") %>
            </div>

            <% end %>

















          </td>






          <td>




            <%= form_tag(controller: "panel", action: "ban", method: "post") do %>





              <%= hidden_field(:user, :id, value: user.id) %>




              <div class="ui mini labeled input">






                <% if user.banned %>



                      <div class="ui blue label">




                        <%= user.banned %>





                      </div>




                <% else %>



                      <div class="ui red label">


                        <%= user.banned %>



                      </div>




                <% end %>






                  <%= submit_tag("Toggle")%>







              </div>










            <% end %>





          </td>







        </tr>
        <% end %>
      </tbody>
    </table>

    <h2>Topics (<%= @topics.length %>) </h2>
    <table class="ui inverted orange table">
      <thead>
        <tr>
          <th>
            Subject
          </th>
          <th>
            Author
          </th>
          <th>
            Forum
          </th>
          <th>
            Replies
          </th>
          <th>

          </th>
        </tr>
      </thead>
      <tbody>
        <% @topics.each do |topic| %>
        <tr>
          <td>
            <%= topic.subject %>
          </td>
          <td>
            <%= topic.user.user_name %>
          </td>
          <td>
            <%= topic.forum.name %>
          </td>
          <td>
            <%= topic.posts.length %> <%= link_to "Delete", "/topics/#{topic.id}", method: :delete, id: "deleteLink" %>
          </td>
          <td>

          </td>
        </tr>
        <% end %>
      </tbody>
    </table>

    <h2>Posts (<%= @posts.length %>) </h2>
    <table class="ui inverted green table">
      <thead>
        <tr>
          <th>
            Message
          </th>
          <th>
            Author
          </th>
          <th>
            Topic
          </th>
        </tr>
      </thead>
      <tbody>
        <% @posts.each do |post| %>
          <tr>
            <td>
              <%= post.message %>
            </td>
            <td>
              <%= post.user.user_name %>
            </td>
            <td>
              <%= post.topic.subject %> <%= link_to "Delete", "/topics/posts/#{post.id}", method: :delete, id: "deleteLink" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <h2>Comments (<%= @comments.length %>) </h2>
    <table class="ui inverted blue table">
      <thead>
        <tr>
          <th>
            Text
          </th>
          <th>
            Author
          </th>
          <th>
            Art
          </th>
        </tr>
      </thead>
      <tbody>
        <% @comments.each do |comment| %>
          <tr>
            <td>
              comment.text
            </td>
            <td>
              comment.user.user_name
            </td>
            <td>
              comment.art.title <%= link_to "Delete", comment_path(comment), method: :delete, id: "deleteLink" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
