<!DOCTYPE html>
<html>
<head>
  <title>SECChant</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="ui grid" id="grid">

  <div class="eight wide column" id="TopNavL">
    <%= link_to "SECCHANT.COM", root_path %>
    <% if admin_signed_in? %>
      <% if current_admin.god_mode? %>
        <span id="GodModeNotice">God Mode</span>
      <% end %>
    <% end %>
  </div>

  <div class="eight wide right aligned column" id="TopNavR">
    <div id="session">
    <% if admin_signed_in? %>
      <%= link_to "Sign out", destroy_admin_session_path, method: :delete, :class => 'session' %>
    <% else %>
      <% if user_signed_in? %>
        <%= link_to "Sign out", destroy_user_session_path, method: :delete, :class => 'session' %>
      <% else %>
        <%= link_to "Sign in", new_user_session_path, :class => 'session' %> |
        <%= link_to "Register", new_user_registration_path, :class => 'registration' %>
      <% end %>
    <% end %>
    </div>
  </div>

  <div class="one wide left aligned column" id="ddmenu">
    <%= link_to "Home", root_path, :class => 'home' %>
  </div>
  <div class="one wide left aligned column" id="ddmenu">
    <div class="ui simple dropdown item">
      Forums
      <div class="menu">
        <div class="item">Choice 1</div>
        <div class="item">Choice 2</div>
        <div class="item">Choice 3</div>
        </div>
      </div>
  </div>
  <div class="one wide left aligned column" id="ddmenu">
    <div class="ui simple dropdown item">
      Football
      <div class="menu">
        <span id="MenuHeader">SEC FOOTBALL</span>
        <div class="item"><a href="http://espn.go.com/college-football/conferences/schedule/_/id/8/sec-conference" id="MenuLink">Schedule/Results</a></div>
        <div class="item"><a href="http://espn.go.com/ncf/conferences/standings?confId=8" id="MenuLink">Standings</a></div>
        <div class="item"><a href="http://espn.go.com/college-football/rankings" id="MenuLink">Rankings</a></div>
        <div class="item"><a href="http://stats.ncaa.org/rankings?sport_code=MFB&division=11" id="MenuLink">Stats</a></div>
      </div>
    </div>
  </div>
  <div class="one wide left aligned column" id="ddmenu">
    <div class="ui simple dropdown item">
      Basketball
      <div class="menu">
        <span id="MenuHeader">SEC BASKETBALL</span>
        <div class="item"><a href="http://espn.go.com/mens-college-basketball/conferences/schedule/_/id/23/sec-conference" id="MenuLink">Schedule/Results</a></div>
        <div class="item"><a href="http://espn.go.com/mens-college-basketball/conferences/standings/_/id/23/sec-conference" id="MenuLink">Standings</a></div>
        <div class="item"><a href="http://espn.go.com/mens-college-basketball/rankings" id="MenuLink">Rankings</a></div>
        <div class="item"><a href="http://espn.go.com/mens-college-basketball/statistics/_/group/23" id="MenuLink">Stats</a></div>
      </div>
    </div>
  </div>
  <div class="one wide left aligned column" id="ddmenu">
    <div class="ui simple dropdown item">
      Baseball
      <div class="menu">
        <span id="MenuHeader">SEC BASEBALL</span>
        <div class="item"><a href="http://www.d1baseball.com/schedules/schedule_sec.htm" id="MenuLink">Schedule/Results</a></div>
        <div class="item"><a href="http://www.d1baseball.com/conferences/sec.htm" id="MenuLink">Standings</a></div>
        <div class="item"><a href="http://www.ncaa.com/rankings/baseball/d1" id="MenuLink">Rankings</a></div>
        <div class="item"><a href="http://www.ncaa.com/stats/baseball/d1" id="MenuLink">Stats</a></div>
      </div>
    </div>
  </div>
  <div class="eleven wide left aligned column" id="ddmenu">
    More
  </div>

  <% if flash.keys %>
      <% flash.keys.each do |key| %>
        <% if key == "error" or key == "alert" %>
          <div class="sixteen wide center aligned column" id="errorColumn">
            <div>
              <%= flash[key] %>
            </div>
          </div>
        <% end %>
      <% end %>
  <% end %>

    <%= yield %>

</div>

</body>
</html>
