<!DOCTYPE html>
<html>
<head>
  <title>SECChant</title>
  <%= favicon_link_tag 'imgres.png' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="ui grid" id="grid">

  <div class="sixteen wide column" id="userNav">
    <% if user_signed_in? %>

      <span id="siteNav"> My Links: </span>
      <%= link_to "Posts", post_search_path(user: current_user), id: "userNavLink" %>
      <%= link_to "Topics", topic_search_path(user: current_user), id: "userNavLink" %>

    <% else %>
      <%= link_to "Sign in", new_user_session_path, class: "blackSession" %> <%= link_to "Register", new_user_registration_path, class: "blackSession2" %>
    <% end %>

    <% if admin_signed_in? %>
      <% if current_admin.god_mode? %>
        <%= link_to 'Panel', admin_panel_path, :class => 'panelLink' %>
      <% end %>
    <% end %>
  </div>

  <div class="three column row" id="tRant_Blue">
    <div class="two wide column" id="fiveWide">
      <!-- <%= image_tag "SecChantLogo-v1-78f7f276ca699ce137db9ca95f90f16b-1.gif", id: "tRant_Img" %> -->
      <div class="logoChant">

        <span id="logoGold">SEC</span><span id="logoSilver">CHANT</span>


      </div>

    </div>

    <div class="two wide middle aligned column" id="fiveWide">

      <%= link_to "Not To Be Confused With The Real Rant", "http://www.secrant.com" %>

    </div>

    <div class="two wide middle aligned column" id="fiveWide">
      <div class="signInMenu">
        <% if admin_signed_in? %>
          <%= link_to "Sign out", destroy_admin_session_path, method: :delete, :class => 'session' %>
        <% else %>
          <% if user_signed_in? %>
            <%= link_to "Settings", edit_user_registration_path, class: 'session' %> |
            <%= link_to "Sign out", destroy_user_session_path, method: :delete, :class => 'session' %>
          <% else %>
            <%= link_to "Sign in", new_user_session_path, :class => 'session' %> |
            <%= link_to "Register", new_user_registration_path, :class => 'session' %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>


  <div class="sixteen wide column" id="mainNav">

    <div class="inline">
      <%= link_to "Home", root_path, :class => 'home' %>
    </div>

    <div class="ui simple dropdown item">
      Forums
      <div class="menu">
        <% @secForums.each do |forum| %>
          <div class="item"> <%= link_to forum.name, forum_show_path(forum), id: "MenuLink" %> </div>
        <% end %>
        <% @teamForums.each do |forum| %>
          <div class="item"> <%= link_to forum.name, forum_show_path(forum), id: "MenuLink" %> </div>
        <% end %>
      </div>
    </div>

    <div class="ui simple dropdown item">
      Football
      <div class="menu">
        <span id="MenuHeader">SEC FOOTBALL</span>
        <div class="item"><a href="http://espn.go.com/college-football/conferences/schedule/_/id/8/sec-conference" id="MenuLink">Schedule/Results</a></div>
        <div class="item"><a href="http://espn.go.com/ncf/conferences/standings?confId=8" id="MenuLink">Standings</a></div>
        <div class="item"><a href="http://espn.go.com/college-football/rankings" id="MenuLink">Rankings</a></div>
        <div class="item"><a href="http://stats.ncaa.org/rankings?sport_code=MFB&division=11" id="MenuLink">Stats</a></div>
      </div>
    </div>

    <div class="ui simple dropdown item">
      Basketball
      <div class="menu">
        <span id="MenuHeader">SEC BASKETBALL</span>
        <div class="item"><a href="http://espn.go.com/mens-college-basketball/conferences/schedule/_/id/23/sec-conference" id="MenuLink">Schedule/Results</a></div>
        <div class="item"><a href="http://espn.go.com/mens-college-basketball/conferences/standings/_/id/23/sec-conference" id="MenuLink">Standings</a></div>
        <div class="item"><a href="http://espn.go.com/mens-college-basketball/rankings" id="MenuLink">Rankings</a></div>
        <div class="item"><a href="http://espn.go.com/mens-college-basketball/statistics/_/group/23" id="MenuLink">Stats</a></div>
      </div>
    </div>

    <div class="ui simple dropdown item">
      Baseball
      <div class="menu">
        <span id="MenuHeader">SEC BASEBALL</span>
        <div class="item"><a href="http://www.d1baseball.com/schedules/schedule_sec.htm" id="MenuLink">Schedule/Results</a></div>
        <div class="item"><a href="http://www.d1baseball.com/conferences/sec.htm" id="MenuLink">Standings</a></div>
        <div class="item"><a href="http://www.ncaa.com/rankings/baseball/d1" id="MenuLink">Rankings</a></div>
        <div class="item"><a href="http://www.ncaa.com/stats/baseball/d1" id="MenuLink">Stats</a></div>
      </div>
    </div>

    <div class="ui simple dropdown item">
      More
      <div class="menu">
        <div class="item"> <%= link_to "Member List", user_search_path, id: "MenuLink" %> </div>
        <div class="item"> <%= link_to "Help Forum", forum_show_path(@helpForum), id: "MenuLink" %> </div>
        <div class="item"> Guidelines/FAQ </div>
      </div>
    </div>

  </div>


  <% if flash.keys %>
      <% flash.keys.each do |key| %>
        <% if key == "error" or key == "alert" %>
          <div class="sixteen wide center aligned column" id="errorColumn">
            <div>
              <%= flash[key] %>
            </div>
          </div>
        <% end %>

        <% if key == "success" %>
          <div class="sixteen wide center aligned column" id="successColumn">
            <div class="">
              <%= flash[:success] %>
            </div>
          </div>
        <% end %>
      <% end %>
  <% end %>

  <%= yield %>

</div>

</body>
</html>
